<ion-side-menus enable-menu-with-back-views ="true">
   <!--Ion Side Menu Content Houses the content for the main page-->
   <ion-side-menu-content style="padding-top:53px" >

       
      <ion-header-bar align-title="center" class ="bar-balanced">
         <div class ="buttons">
            <button class ="button icon button-clear ion-navicon-round" ng-click="openDrawer()"></button>
         </div>
        <h1 class = "title">Medroid</h1>
         <div class="buttons widget-container content-area horiz-area wrapping-col" > 
            <button class ="button" ng-click="openPopover($event)" ng-controller = "notificationPopoverCtrl">
            <i class ="icon button-dark ion-android-notifications-none"></i></button>
            <button class ="button" ng-click="openPopover($event)" ng-controller ="InboxPopoverCtrl"><i class ="icon button-dark ion-email"></i> </button> 
            <button class ="button" ng-click="changeStatus()"><i class ="icon ion-ios-circle-filled {{statuscolor}}"></i>{{docstatus}}</button> 
         </div>
      </ion-header-bar>
   </ion-side-menu-content>
   <!--Ion Side menu drawer content-->
   <ion-side-menu side ="left">
      <ion-header-bar class ="bar-positive">
         <h1 class="title" style="text-align: center" >Menu</h1>
      </ion-header-bar>
   </ion-side-menu>
</ion-side-menus>