
<ion-content ng-controller = "PatientCtrl">
<ion-list can-swipe="listCanSwipe">
    
<div class="row" style="margin-bottom:100px">
  
<div class="col col-50">

    <div class="list card">
      <p1 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        First Name: {{firstName}}
      </p1>
      <p2 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        Last Name: {{lastName}}
      </p2>
      <p2 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        Middle Name: {{middleName}}
      </p2>
    </div>
    
    <div class="list card">
      <p2 class="item item-icon-left">
        <i class="ion-ios-pricetags-outline"></i>
        Patient # {{pid}}
      </p2>  
      <p2 class="item item-icon-left">
        <i class="ion-card"></i>
        HC # {{hc}}
      </p2>
    </div>
    
    <div class="list card"> 
      <p2 class="item item-icon-left">
        <i class="ion-android-bus"></i>
        City: {{city}}
      </p2>
      <p2 class="item item-icon-left">
        <i class="ion-android-globe"></i>
        Prov: {{prov}}
      </p2>
    </div>

    
</div>
 
<div class="col col-50">

    
    <div class="list card">
      <p1 class="item item-icon-left">
        <i class="ion-android-happy"></i>
        DOB: {{birthdate}}
      </p1>
      <p2 class="item item-icon-left">
        <i class="ion-transgender"></i>
        Sex: {{sex}}
      </p2>
      <p2 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        Age: {{age}}
      </p2>
      <p2 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        BloodType: {{bloodtype}}
      </p2>
      <p2 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        Symptom Desc: {{symptomDesc}}
      </p2>        
    </div>


</div>

</div>
        <ion-list can-swipe="listCanSwipe">
            
    </ion-content>

