<div ng-controller ="PatientCtrl">

    <!--Button Tab Interface-->
<div class="button-bar">
      <a class="button" ng-click="tabclickpatientinfo()" ng-class="{'button-positive':var==1}">Patient Info</a>
      <a class="button" ng-click="tabclickpatientmedical()" ng-class="{'button-positive':var==2}">Medical Info</a>
      <a class="button" ng-click="tabclickpatientdiagnosis()" ng-class="{'button-positive':var==3}">Diagnosis</a>
      <a class="button" ng-click="tabclickpatientcareteam()" ng-class="{'button-positive':var==4}">Care Team</a>
      <a class="button" ng-click="tabclickpatientvitals()" ng-class="{'button-positive':var==5}">Live Vitals</a>
</div>

<!--Content Area for Patient Profile   -->
    <div>
    
<ion-nav-view></ion-nav-view>   
    </div>



</div>
