<!--
<div class="row">
  <div class="col col-50">.col.col-50</div>
  <div class="col col-50">.col.col-50-2</div>
</div>
-->

<ion-pane ng-controller="diagnosisCtrl">
    <ion-header-bar class="bar-assertive">
      <h1 class="title"></h1>
<div class="buttons">
    <button class="button" ng-click="addDiagnosis()">Add Diagnosis</button>
  </div>
    </ion-header-bar>
    <ion-content>
        {{test}}
    <ion-list>
        <ion-item ng-repeat="diagnosis in patientDiagnosis" 
                  item="diagnosis"
                  class="item-remove-animate">
            <div class="item item-button-right">
                {{diagnosis.Diagnosis}}
                <div class="buttons">
                    <button class="button button-assertive" ng-click="removeDiagnosis(diagnosis)">
                        <i class="ion-close-circled"></i>
                    </button>
                </div>
            </div>
              
        </ion-item>    
  
    </ion-list>
    </ion-content>
 </ion-pane>


