
<ion-content >
<ion-list can-swipe="listCanSwipe">
    
<div class="row" style="margin-bottom:100px">
  
<div class="col col-50">

    <div class="list card">
      <p1 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        First Name: John
      </p1>
      <p2 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        Last Name: Doe
      </p2>
      <p2 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        Middle Name: Bread
      </p2>
    </div>
    
    <div class="list card">
      <p2 class="item item-icon-left">
        <i class="ion-ios-pricetags-outline"></i>
        Patient # 241234
      </p2>  
      <p2 class="item item-icon-left">
        <i class="ion-card"></i>
        HC # 43435avs
      </p2>
    </div>
    
    <div class="list card">
      <p2 class="item item-icon-left">
        <i class="ion-android-home"></i>
       Address: 123 Wall St.
      </p2>    
      <p2 class="item item-icon-left">
        <i class="ion-android-bus"></i>
        City: Regina
      </p2>
      <p2 class="item item-icon-left">
        <i class="ion-android-globe"></i>
        Prov: Sask
      </p2>
    </div>

    
</div>
 
<div class="col col-50">

    
    <div class="list card">
      <p1 class="item item-icon-left">
        <i class="ion-android-happy"></i>
        DOB: 21-05-91
      </p1>
      <p2 class="item item-icon-left">
        <i class="ion-transgender"></i>
        Sex: Male
      </p2>
      <p2 class="item item-icon-left">
        <i class="ion-ios-arrow-right"></i>
        Age: 24
      </p2>
    </div>


</div>

</div>
        <ion-list can-swipe="listCanSwipe">
            
    </ion-content>

