<div ng-controller ="DailyRoundsCtrl" class="dailyround-boarder">

    <!--ng-controller ="DailyRoundsCtrl"-->
    <!--
<h1>Daily Rounds</h1>
    <button ng-controller = "patientprofileCtrl" ng-click ="gotopatient()" class="button button-royal">
{{patient}}
</button>
-->
    <ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"> Discharge Patient</button>
      </div>
      <h1 class="title">Daily Rounds</h1>
      <div class="buttons">
        <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
            Prioritize
        </button>
      </div>
    </ion-header-bar>

    <ion-content style="border: 3px blue solid">
        

      <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
      
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item ng-repeat="patient in patients" 
                  item="patient"
                   ng-click="gotopatient({{patient.patientID}})" class="item-remove-animate">
                    <p1>{{ patient.patientID}}</p1>
                    <p1>{{ patient.lastName}},</p1>
                    <p1>{{ patient.firstName}}</p1>
                    <div><p1>&nbsp;&nbsp;&nbsp;</p1></div>
                    <p1>Status: {{patient.status}}</p1>            
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(patient)">
          </ion-delete-button>
            
            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(patient, $fromIndex, $toIndex)">
            </ion-reorder-button>
            
<ion-option-button class="button-calm" ng-click="share(patient)">Message</ion-option-button>

            
        </ion-item>

      </ion-list>

    </ion-content>

</div>







