<div ng-controller ="MyCtrl" class="dailyround-boarder">

    <!--ng-controller ="DailyRoundsCtrl"-->
    <!--
<h1>Daily Rounds</h1>
    <button ng-controller = "patientprofileCtrl" ng-click ="gotopatient()" class="button button-royal">
{{patient}}
</button>
-->
    <ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"> Discharge Patient</button>
      </div>
      <h1 class="title">Daily Rounds</h1>
      <div class="buttons">
        <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
            Prioritize
        </button>
      </div>
    </ion-header-bar>

    <ion-content style="border: 3px blue solid" ng-controller ="DailyRoundsCtrl">

      <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
        <h1> {{doctorID}}</h1>
      
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item ng-repeat="item in items" 
                  item="item"
                   ng-click="gotopatient()" class="item-remove-animate">
          Patient {{ item.id }}
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
            
            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
            </ion-reorder-button>
            
<ion-option-button class="button-calm"
                             ng-click="share(item)">
            Message
          </ion-option-button>

            
        </ion-item>

      </ion-list>

    </ion-content>

</div>







